body, h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4{
  font-family: 'Lato';
}

html, body {
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    display: table;
    font-weight: 300;
    padding-bottom: 200px;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

.container {
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

.content {
    text-align: center;
    display: inline-block;
}

.title {
    font-size: 48px;
    color: #FFF;
    font-weight: 300;
    padding-left: 35px;
    position:absolute;
    top: 0px;
}

.quote, .tagline {
    font-size: 24px;
}
.tagline{
    position: absolute;
    top: 50px;
    padding-left: 35px;
    color: #FFF;
}

.well-link{
  text-align: center;
}

* {
  box-sizing: border-box;
}
.description{
  padding: 20px;
}
.previewImage{
  background-position: 50% 50%;
  background-repeat: no-repeat;
  height: 100%;
}
.header-panel {
  height: 400px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}
.header-panel div {
  position: relative;
  height: 100%;
}
.main{
  padding-top: 20px;
  margin-top: 150px;
  z-index: 3;
}
.menu {
  overflow: auto;
  padding: 0;
}
.menu, .menu * {
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.menu ul {
  padding: 0;
  margin: 7px 0;
}
.menu ul li {
  list-style: none;
  padding: 20px 0 20px 50px;
  font-size: 15px;
  font-weight: normal;
  cursor: pointer;
}
.menu ul li.active {
  background-color: #dedede;
  position: relative;
}
.menu ul li a {
  color: rgb(51, 51, 51);
  text-decoration: none;
}

.pages {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 4;
  padding: 0;
  overflow: auto;
}
.pages > div {
  padding: 0 5px;
  padding-top: 64px;
}

.pages .header {
  color: rgb(82, 101, 162);
  font-size: 24px;
  font-weight: normal;
  margin-top: 5px;
  margin-bottom: 60px;
  letter-spacing: 1.20000004768372px;
}

.page {
  transform: translateY(1080px);
  transition: transform 0 linear;
  display: none;
  opacity: 0;
  font-size: 16px;
}

.page.active {
  transform: translateY(0px);
  transition: all 0.3s ease-out;
  display: block;
  opacity: 1;
}

#opensource {
  color: rgba(0, 0, 0, 0.62);
  position: fixed;
  margin-top: 50px;
  margin-left: 50px;
  z-index: 100;
}

#source-modal h4 {
  color: black;
}